@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --neon-green: #00FF7F;
  --neon-blue: #00C8FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-green: var(--neon-green);
  --color-neon-blue: var(--neon-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
